extends ../layout
block styles
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:500', rel='stylesheet', type='text/css')
block scripts
    script(src='/static/scripts/login.js')
block content
    .login-register-form
        form.login(method="POST", action="/login")
            .login-header
                h1#login-sign Login
            .login-form
                input(name="username" type='text', placeholder='Username')
                br
                input(name="passowrd" type='password', placeholder='Password')
                br
                input#login-button.login-button(type='submit', value='Login')
            