extends ../layout
block styles
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:500', rel='stylesheet', type='text/css')
block scripts
    script(src='/static/scripts/login.js')
block content
    .login-register-form
        .login
            .login-header
                h1#login-sign Login
            .login-form
                input(type='text', placeholder='Username')
                br
                input(type='password', placeholder='Password')
                br
                input#login-button.login-button(type='button', value='Login')
            