extends ../layout
block styles
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:500', rel='stylesheet', type='text/css')
block scripts
    script(src='/static/scripts/login.js')
block content
    main
        .login
            .login-header
                h1#login-sign Login
            .login-form
                h3 Username:
                input(type='text', placeholder='Username')
                br
                h3 Password:
                input(type='password', placeholder='Password')
                br
                input#login-button.login-button(type='button', value='Login')
            