extends ../layout
block styles
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:500', rel='stylesheet', type='text/css')
block content
    .login-register-form             
        form.login(method='POST', action='/auth/login')
            .login-header
                h1#login-sign Login
            .login-form
                input(name="username" type='text', placeholder='Username')
                br
                input(name="password" type='password', placeholder='Password')
                br
                input#login-button.login-button(type='submit', value='Login')
                |
                p
                if(messages)
                div#note.alert-danger #{messages}



            