extends ../layout
block styles
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:500', rel='stylesheet', type='text/css')
block content
    .login-register-form
     form.register(method='POST', action='/auth/register')
        .register-header
            h1#register-sign Register
        .register-form
            input(name='fullName' type='text', placeholder='Full Name')
            br
            input(name='username' type='text', placeholder='Username')
            br
            input(name='password' type='password', placeholder='Password')
            br
            input(name='passwordConfirmation' type='password', placeholder='Confirm Password')
            br
            input#register-button.register-button(type='submit', value='Register')