extends layout
include mixins/nav
include mixins/footer

block nav
    +nav(isLoggedIn)
block content
    main
        .container
            .row
                .col-md-12
                    .error-template
                        h1 Oops!
                        h2
                            b 404 Not Found
                        .error-details
                            h3 Sorry, an error has occured, Requested page not found!
                        div
                            img.img-rounded(src='/static/images/logo.png', alt='404', width='150', height='100')
block footer
    +footer
