
extends layout
include mixins/nav
include mixins/footer

block nav
    +nav(isLoggedIn)
block content
    main
        .container
            .row
                if isLoggedIn
                    p
                    |
                    .col-md-4
                        .well
                            h3 Users Currently Online
                            ul#Users.list-group
                    .col-md-8
                        #chat.chat
                        form#messageForm
                            .form-group
                                label(for='') Enter a Message
                                textarea#message.form-control
                                br
                                input#chat-button.btn.btn-primary(type='submit', value='Send Message')
                else
                    div.centered
                        p
                        |
                        .col-md-6.col-md-offset-3
                            .alert.alert-success
                                h3 Login to chat with other connected users.
block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/static/scripts/chat.js')
block footer
    +footer

