extends layout
include mixins/nav
include mixins/footer

block nav
    +nav(isLoggedIn)
block content
    main
        .container
          .col-md-5
            .form-area
              form(role='form')
                br(style='clear:both')
                h3(style='margin-bottom: 25px; text-align: center;') Contact Form
                .form-group
                  input#name.form-control(type='text', name='name', placeholder='Name', required='')
                .form-group
                  input#email.form-control(type='text', name='email', placeholder='Email', required='')
                .form-group
                  input#mobile.form-control(type='text', name='mobile', placeholder='Mobile Number', required='')
                .form-group
                  input#subject.form-control(type='text', name='subject', placeholder='Subject', required='')
                .form-group
                  textarea#message.form-control(type='textarea', placeholder='Message', maxlength='140', rows='7')
                  span.help-block
                    p#characterLeft.help-block You have reached the limit
                button#submit.btn.btn-primary.pull-right(type='button', name='submit') Submit Form
block footer
    +footer