extends layout
include mixins/nav

block nav
    +nav(isLoggedIn)
block content
    main
        .container
            each c in courses
                .col-sm-6.col-md-4.course-container
                    .thumbnail
                        // image here
                        img.img-responsive.img-rounded(src='http://placehold.it/600x300', alt='')
                        .caption
                            h3.title-label #{c.title}
                            p.lecturer-label #{c.lecturer}
                            p.length-label #{c.length}
                            a(href='/courses/' + c._id)
                                | View details
                            if isLoggedIn
                                - const canLike = c.likeByUserId.find((id) => id === String(user[0]._id))
                                if canLike
                                    a(class='unlike-button')
                                        img.img-responsive.img-rounded.like-image(src='/static/images/liked.png', alt='')
                                else
                                    a(class='like-button')
                                        img.img-responsive.img-rounded.unlike-image(src='/static/images/unliked.png', alt='')