extends layout
include mixins/nav

block nav
    +nav(isLoggedIn)
block content
    main
        .container
            each c in courses
                .col-sm-6.col-md-4
                    .thumbnail
                        // image here
                        .caption
                            h3 #{c.title}
                            p #{c.lecturer}
                            p #{c.length}
                            a(href='/courses/' + c._id)
                                | View details
                            // if statement here for like button on logged in users only and store users that have liked in mongodb