extends layout
block content
    main
        .jumbotron.full
            .container.text-center
                h2#main-slogan We help you to plan better, faster & cheaper
        .container
            h1.text-center
                | Most recent courses
            each c in latestCourses
                .col-sm-6.col-md-4
                    .thumbnail
                        // image here
                        .caption
                            h3 #{c.title}
                            p #{c.lecturer}
                            p #{c.length}
        .container
            h1.text-center
                | Most popular courses