extends layout
block content
    main
        .jumbotron.full
            .container.text-center
                h2#main-slogan We help you to plan better, faster & cheaper
        .container
            .col-xs-4
                p Column 1
            .col-xs-4
                p Column 2
            .col-xs-4
                p Column 3