extends layout
include mixins/nav
include mixins/footer

block nav
    +nav(isLoggedIn)
block content
    main
        .container
        if !isLoggedIn
            h1 Unauthorized
        else
            h1 Lectures for #{course[0].title}
            each lecture in course[0].lectures
                .col-sm-6.col-md-4.course-container
                    .thumbnail
                        // image here
                        img.img-responsive.img-rounded(src= course[0].coverPhoto, alt='')
                        .caption
                            h3.title-label #{lecture.title}
                            p.number-label #{lecture.number}
                            a.btn.btn-success.url-label(href='/courses/' + course[0]._id + '/lectures/' + lecture.number) Watch video
block footer
    +footer
