extends layout
include mixins/nav

block nav
    +nav(isLoggedIn)
block content
    main
        .container
            .row
                .col-md-8
                    img.img-responsive.img-rounded(src='http://placehold.it/350x350', alt='')
                .col-md-4
                    h1 #{user[0].username}'s profile
            hr
            .row
                .col-lg-12
                    .well.text-center.lecturer-label
                        | bla
            .row
                each c in enrolledCourses
                    .col-md-4
                        h2= c.title
                        p= c.lecturer
                        a.btn.btn-default More Info