mixin footer
    div
    footer
      #my-footer.container
        hr    
        .row
          .col-md-4.col-sm-6.footerleft
            img.logofooter#myLogo(src='/static/images/logo.png', alt='Page logo')
            |     
            p    
            |         
            p
              i.fa.fa-map-pin
              |  123, Aleksandar Malinov, Sofia
            |         
            p
              i.fa.fa-phone
              |  Phone (Bulgaria) : +359 876 64 5789
            |         
            p
              i.fa.fa-envelope
              |  E-mail : info@courseoverflow.com
          |       
          .col-md-2.col-sm-6.paddingtop-bottom
            h6.heading7 GENERAL LINKS
            |         
            ul.footer-ul
              li
                a(href='#')  Career
              |           
              li
                a(href='#')  Privacy Policy
              |           
              li
                a(href='#')  Terms &amp; Conditions
              |           
              li
                a(href='#')  Client Gateway  
    // footer start from here
    .copyright
      .container
        .col-md-6.col-md-offset-5
          p &copy; 2017 - All Rights with Course Overflow
        |   