mixin nav
    nav#my-navbar.navbar.navbar-inverse.navbar-custom.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
                    // Collapses the nav buttons for smaller screens
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    img#myLogo(src='/static/images/logo.png', alt='Page logo')
            #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/courses') Courses
                ul.nav.navbar-nav.navbar-right
                    li.dropdown
                        a#register-link.dropdown-toggle(href='/login')
                            | Log In 
                    li
                        a#register-link.dropdown-toggle(href='/register')
                            | Register