/*html {
    position: relative;
    width: 100%;
    min-height: 100%;
}

body {
    margin-top: 50px;
}

nav {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow:hidden;
}*/

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0 0 200px;
}

main {
    margin-top: 51px;
}

.login-register-form {
    margin-top: 150px;
}

.login h1,
.login h2,
.login h3,
.login h5,
.login h6,
.login a,
.register h1,
.register h2,
.register h3,
.register h5,
.register h6,
.register a {
    margin: 0;
    padding: 0;
    color: black;
}

.login,
.register {
    margin: 0 auto;
    max-width: 500px;
}

.login-header,
.register-header {
    color: #fff;
    text-align: center;
    font-size: 300%;
}

.login-header h1,
.register-header h1 {
    font-size: 80px;
}

.login-form,
.register-form {
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
}

.login input[type="text"],
.login input[type="password"],
.register input[type="text"],
.register input[type="password"] {
    max-width: 400px;
    width: 80%;
    line-height: 3em;
    margin: 1em 2em;
    border-radius: 5px;
    border: 2px solid #f2f2f2;
    outline: none;
    padding-left: 10px;
}

.login-form input[type="button"],
.register-form input[type="button"] {
    height: 30px;
    width: 100px;
    background: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    color: slategrey;
    text-transform: uppercase;
    cursor: pointer;
}

.sign-up {
    color: #f2f2f2;
    margin-left: -70%;
    cursor: pointer;
    text-decoration: underline;
}

.no-access {
    color: #E86850;
    margin: 20px 0px 20px -57%;
    text-decoration: underline;
    cursor: pointer;
}

.try-again {
    color: #f2f2f2;
    text-decoration: underline;
    cursor: pointer;
}


/*Media Querie*/

@media only screen and (min-width: 150px) and (max-width: 530px) {
    .login-form h3 {
        text-align: center;
        margin: 0;
    }
    .sign-up,
    .no-access {
        margin: 10px 0;
    }
    .login-button {
        margin-bottom: 10px;
    }
}

#login-sign,
#register-sign {
    color: black;
}

#login-button,
#register-button {
    background-color: #00F2B6;
}

#jumbotron-button {
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: #538074;
    padding: 10px;
    text-decoration: none;
}

#chat-button {
    font-weight: bold;
    color: white;
    background-color: #1F4838;
    text-decoration: none;
}

#chat-button:hover {
    color: white;
    background-color: #001C10;
}

#messageForm,
h1,
h2,
h3,
h4 {
    color: #001C10;
}

#myLogo {
    max-width: 100px;
    max-height: 80px;
    margin-top: -12px;
}

.navbar-brand {
    background-color: #FFFFFF;
}

#my-navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CAD7D3;
}


/*#sandwitch {
    background-color: white;
    border-color: black;
}*/

.jumbotron {
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    height: 300px;
    color: #1F4838;
    ;
}


/* search bar css */

@media(max-width:767px) {
    .navbar .navbar-form {
        width: 185px;
        padding-left: 0;
        padding-right: 0;
    }
}

@media(min-width:768px) {
    .navbar .navbar-form {
        width: 250px;
    }
}

@media(max-width:388px) {
    .navbar .navbar-form {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.navbar .navbar-form {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#login-link:hover,
#logout-link:hover,
#register-link:hover,
#profile-link:hover,
#courses-nav:hover,
#chat-nav:hover,
#jumbotron-button:hover {
    color: #398CD2;
    background-color: #CAD7D3;
}

#login-link,
#logout-link,
#register-link,
#profile-link,
#courses-nav,
#chat-nav {
    color: #1F4838;
    font-size: 17px;
}

.course-container {
    /*display: inline-block;*/
}

#fullname-textfield,
#city-textfield,
#street-textfield,
#website-textfield {
    margin-top: 5px;
    border-radius: 5px;
}

#my-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

#my-footer hr {
    border-color: #CAD7D3
}

#my-footer a {
    color: #0A4D3C
}

#my-footer ul {
    list-style-type: none;
}


/*Validation messages */

.alert-danger {
    margin-left: 25%;
    width: 50%;
    font-family: sans-serif;
    text-align: center;
    font-size: 16px;
    border: 1px;
    border-radius: 2px;
}

html {
    position: relative;
    min-height: 100%;
}

#avatar-img {
    max-height: 350px;
    max-width: 350px;
}

#not-found-img {
    max-width: 100%;
}

.course-img {
    max-width: 600px;
    max-height: 300px;
}


/* Error page style */

#error-page {
    background-color: #EBFFFF;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
    background-color: #EBFFFF;
    color: #1B3C34
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}